<!DOCTYPE html>
<html>
<head>
    <title>Compare Drivers</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">
</head>
<body>
    <h1 style="color: #900000; font-weight: bold;">Compare Two Drivers</h1>
    <form method="post" action="/compare-drivers">
        <label for="driver1">Select First Driver:</label>
        <select name="driver1_id" required>
            {% for driver in drivers %}
                <option value="{{ driver.id }}">{{ driver.name }}</option>
            {% endfor %}
        </select>
        
        <label for="driver2">Select Second Driver:</label>
        <select name="driver2_id" required>
            {% for driver in drivers %}
                <option value="{{ driver.id }}">{{ driver.name }}</option>
            {% endfor %}
        </select>
        <br><br>
        <button type="submit" style="color: #ffffff; background-color: #900000; font-weight: bold; border: none; padding: 10px 15px; border-radius: 5px; cursor: pointer;">Compare</button>
    </form>

    <br><br>
    <a href="/" 
        style="display: inline-block; padding: 5px 10px; font-size: 16px; color: white; background-color: #900000; 
          text-decoration: none; border-radius: 5px; border: none; cursor: pointer;">
        Back to Home
    </a>
</body>
</html>
