<!DOCTYPE html>
<html>
<head>
    <title>Query Drivers</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">
</head>
<body>
    <h1 style="color: #900000; font-weight: bold;">Query Drivers</h1>
    <form action="/query-driver" method="post">
        <label for="attribute">Select Attribute:</label>
        <select name="attribute" id="attribute" required>
            <option value="age">Age</option>
            <option value="total_pole_positions">Total Pole Positions</option>
            <option value="total_race_wins">Total Race Wins</option>
            <option value="total_points_scored">Total Points Scored</option>
            <option value="total_world_titles">Total World Titles</option>
            <option value="total_fastest_laps">Total Fastest Laps</option>
        </select>

        <label for="comparison">Select Comparison:</label>
        <select name="comparison" id="comparison" required>
            <option value="<">Less than (&lt;)</option>
            <option value=">">Greater than (&gt;)</option>
            <option value="=">Equal to (=)</option>
        </select>

        <label for="value">Enter Value:</label>
        <input type="number" name="value" id="value" required>
        <br><br>
        <button type="submit" style="color: #ffffff; background-color: #900000; font-weight: bold; border: none; padding: 10px 15px; border-radius: 5px; cursor: pointer;">Search</button>
    </form>

    {% if results %}
        <h2>Matching Drivers:</h2>
        <ul>
            {% for driver in results %}
                <li>{{ driver['name'] }} - {{ attribute }}: {{ driver[attribute] }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <br>
    <a href="/" 
        style="display: inline-block; padding: 5px 10px; font-size: 16px; color: white; background-color: #900000; 
          text-decoration: none; border-radius: 5px; border: none; cursor: pointer;">
        Back to Home
    </a>
</body>
</html>
