body {
    font-family: "helvetica", sans-sans-serif;
    text-align: center;
}
.button {
    display: inline-block;
    padding: 5px 10px;
    background-color: #ccc;
    color: black;
    text-decoration: none;
    border: 1px solid #999;
    border-radius: 5px;
}
.button:hover {
    background-color: #bbb;
}
